.Galeria-Productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 40px;
    background-color: white;
    border: 5px solid rgb(224, 61, 142);
}

.Galeria-Productos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 5px solid rgb(224, 61, 142);
    box-sizing: border-box;
}

.Galeria-Productos a {
    text-decoration: none;
    color: black;
    height: auto;
}

.Galeria-Productos img {
    clip-path: polygon(4);
    object-fit: cover;
    width: 100%;
    transition: transform 0.5s ease;
    border: 5px solid wheat;
    box-sizing: border-box;
}

/*efecto de zoom sutil al poner el cursor sobre la imagen de un producto*/
.Galeria-Productos img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    transform: scale(1.05);
}

.Galeria-Productos h4 {
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
    color: green;
}

.Galeria-Productos h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: large;
    font-weight: bold;
}

.Galeria-Productos p {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: large;
    font-weight: bold;
}

.Galeria-Productos button {
    background-color: greenyellow;
    border: 5px solid rgb(122, 49, 51);
    margin: auto;
    display: block;
    padding: 10px;
    color: green;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}